.Rproj.user.
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/1B8A0921/pcs/source-pane.pper
.Rproj.user/1B8A0921/pcs/windowlayoutstate.pper
.Rproj.user/1B8A0921/sources/prop/01F9ABB9
.Rproj.user/1B8A0921/sources/prop/0AB8FAD8
.Rproj.user/1B8A0921/sources/prop/8D8F9E86
.Rproj.user/1B8A0921/sources/prop/INDEX
.Rproj.user/1B8A0921/sources/s-C7DF377F/04557678
.Rproj.user/1B8A0921/sources/s-C7DF377F/04557678-contents
.Rproj.user/1B8A0921/sources/s-C7DF377F/05CD0B21-contents
.Rproj.user/1B8A0921/sources/s-C7DF377F/062B7E00-contents
.Rproj.user/shared/notebooks/paths
.Rproj.user/1B8A0921/sources/s-C7DF377F/lock_file
WriteUp.Rproj
EM_writeup.Rproj
.Rproj.user/shared/notebooks/paths
